<form id="search-form" action="/events/search" method="GET">
<h1>Search Events</h1>
    <input type="text" id="search-input" name="query" placeholder="Search Events!">
    <button type="submit">Search</button>
</form>
